<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WhereTo - A Bucket List for your Desire</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WhereTo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#/AddDestination">Add a Destination</a></li>
                    <li><a href="/#/ViewDestination">View My Destinations</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WhereTo</p>
        </footer>
    </div>
    @*<script src='//maps.googleapis.com/maps/api/js?key=AIzaSyDzuf3PKADN4hVI4ry8q0bVMsgFMPq_ofk'></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/angular-resource.js")
    @Scripts.Render("~/Scripts/lodash.min.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-utils.min.js")
    @*@Scripts.Render("~/Scripts/angular-google-maps.min.js")*@
    @Scripts.Render("~/Scripts/app/place-controller.js")
    @Scripts.Render("~/Scripts/app/place-repository.js")
    @RenderSection("scripts", required: false)
    
</body>
</html>